body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

.note-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-filter {
  text-align: center;
  margin: 10px;
}

#color-picker,
#edit-color-picker {
  width: 57px;
  height: 30px;
  margin: 10px;
}

#note-text {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ff5733; /* Default color */
  position: relative;
  padding-right: 35px; /* Create space for buttons on the right */
}

.note .delete-button,
.note .edit-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: #ff3333;
  cursor: pointer;
  padding: 5px;
  z-index: 1; /* Ensure buttons are above the note content */
}

.note .edit-button {
  right: 60px; /* Adjust the position of the edit button */
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

.close {
  color: #888;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
